body {
  background-color: white;
}

.header {
  text-align: center;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #333;
  overflow: hidden;
}

.navbar .nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

.navbar .nav-links li {
  float: left;
}

.navbar .nav-links li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar .nav-links li a:hover {
  background-color: #ddd;
  color: black;
}

@media screen and (max-width: 600px) {
  .navbar .nav-links li {
      float: none;
  }
}


.hsContainer {
  position: relative;
  display: block;
  max-width: 100%;
  margin: 2em auto;
  padding: 0;
  line-height: 0;
  width: 1080px;
  box-sizing: border-box;
}
.hsContainer .hotspotImage {
  border: none;
  box-shadow: none;
  height: auto;
  width: 100%;
  max-width: 100%;
}
.hsContainer .hotspotItem {
  position: absolute;
  text-align: center;
}
.hsContainer .hotspotItem:nth-child(2) {
  top: calc(29% - -1.5px);
  left: calc(36% - -1.5px);
}
.hsContainer .hotspotItem:nth-child(3) {
  top: calc(38% - -1.5px);
  left: calc(60% - -1.5px);
}
.hsContainer .hotspotItem:nth-child(4) {
  top: calc(59.76612580128204% - -1.5px);
  left: calc(60.94375% - -1.5px);
}
.hsContainer .hotspotItem:nth-child(5) {
  top: calc(46.00070112179486% - -1.5px);
  left: calc(84.746875% - -1.5px);
}
.hsContainer .hotspotItem .hsIcon {
  position: relative;
}
@keyframes hsGlowEffect {
  0% {
    background-color: #fff0;
    transform: scale(0);
  }
  50% {
    background-color: #fff;
    transform: scale(1);
  }
  100% {
    background-color: #fff0;
    transform: scale(2);
  }
}
.hsContainer .hotspotItem .hsGlow {
  background: #fff;
  position: absolute;
  height: 200%;
  width: 200%;
  top: -50%;
  left: -50%;
  border-radius: 50%;
  line-height: normal;
  animation: hsGlowEffect 2s linear infinite;
}
.hsContainer .hstooltip {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: auto;
  top: 0;
  left: 0;
  cursor: pointer;
}
.hsContainer .hstooltip .hstooltiptext {
  display: none;
  line-height: initial;
  width: 300px;
  background-color: white;
  text-align: center;
  padding: 1em;
  position: absolute;
  z-index: 3;
  left: 2.5em;
  top: -120px;
  border: 1px solid;
}
.hsContainer .hstooltip .hstooltiptext:hover {
  opacity: 0;
}
.hsContainer .hstooltip .hstooltiptext img {
  width: 100%;
}
.hsContainer .hstooltip .hstooltiptext:after, .hsContainer .hstooltip .hstooltiptext:before {
  right: 100%;
  top: 30%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.hsContainer .hstooltip .hstooltiptext:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #fff;
  border-width: 10px;
  margin-top: -10px;
}
.hsContainer .hstooltip .hstooltiptext:before {
  border-color: rgba(0, 0, 0, 0);
  border-right-color: #000;
  border-width: 11px;
  margin-top: -11px;
}
.hsContainer .hstooltip:hover .hstooltiptext {
  display: initial;
}